notebook/
test.py
templete.py
setup.py
pyproject.toml
marimo/_static/
marimo/_lsp/
__marimo__/
templete.py
projectflow.txt
crendetial.txt
crashcourse.txt
artifact/
logs/
firstproj_accessKeys.csv
.gitignore
.dockerignore
venv/
env/
__pycache__/
artifact/
logs/
firstproj_accessKeys.csv
demo_copy.py
demo.py
src.egg-info/
.env
crashcourse.txt
crendetial.txt
projectflow.txt



